---
layout: post
title: "{{name}}"
modified: {{post_date}}
categories: articles
excerpt: "{{slug}}"
tags: [{{jekyll_tags}}]
image:
  feature:
author: {{custom_fields['Editor']}}
---

__{{custom_fields['Reviewer']}}__ reviewing {{citation}}

Links: [PubMed]({{pubmed_url}}) [Trello]({{shortUrl}})

### Commentary

{{desc}}

---

### Pubmed abstract

> {{AB}}

Edited by __{{custom_fields['Editor']}}__
