---
layout: post
title: "{{title}}"
modified: {{post_date}}
categories: articles
excerpt: "{{excerpt}}"
tags: [{{jekyll_tags}}]
image:
  feature:
author: {{editor}}
---


__{{reviewer}}__ reviewing {{reference}}

Edited by __{{editor}}__

Links: [PubMed]({{pmid_url}})[^abstract] [Trello]({{url_trello}})

{{review}}

---

# Abstract (Pubmed)

[^abstract]: {{abstract}}
