---
layout: post
title: "{{title}}"
modified: {{post_date}}
categories: articles
excerpt: "{{excerpt}}"
tags: [{{jekyll_tags}}]
image:
  feature:
author: {{editor}}
---


__{{reviewer}}__ reviewing {{reference}}

{{review}}

# Medline citation

> {{abstract}}

Edited by __{{editor}}__
